<ion-view title="About">

	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button ui-sref="app.search" class="button button-icon icon ion-ios7-search"></button>
	</ion-nav-buttons>

	<ion-content padding="true">
		<h4>Stay tuned more to come. Help me improve the program by testing</h4>
		<p>Developed by</p>
		<p>Nadim Tuhin &amp; Atique Ahmed Ziad</p>
		<h4>Special Thanks to - </h4>
		<p>Aniruddho Adhikary &amp; Ariful Islam</p>
	</ion-content>

</ion-view>
